<div id="logo">
  <img src="<%= image_path("chucknorris_logo.png") %>">
</div>
<div id="welcome_message">
  <% if cookies[:language] == "eng" %>
    <p>Welcome to the Chuck Norris Facts. Enjoy finding interested facts about this epic actor.</p>
    <%= link_to "Start", facts_path %>
  <% else %>
    <p>Bienvenido a Chuck Norris Facts. Disfruta encontrando interesantes hechos sobre esto épico actor.</p>
    <%= link_to "Comenzar", facts_path %>
  <% end %>
</div>