<div id="logo">
  <img src="<%= image_path("chucknorris_logo.png") %>">
</div>
<div id="welcome_message">
  <p>Welcome to the Chuck Norris Facts app. Enjoy finding interested facts about this epic movie actor.</p>
  <%= link_to "Start", facts_path %>
</div>